@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* styles/globals.css or any imported global css */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Chrome, Safari, and other Webkit browsers */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.trigger-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.dropdown-content {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10; /* Higher z-index to appear above other content */
  display: inline-block;
}

.callout {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #58CC02; /* Triangular callout */
  margin-left: 20px;
}

.dropdown-box {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-btn {
  background-color: white;
  color: green;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.start-btn:hover {
  background-color: #f0f0f0;
}

.star-icon {
  font-size: 30px;
}
